@charset "utf-8";

@font-face {
    font-family: body-font;
    src: url(SEGOEUI.TTF);
}
@font-face {
    font-family:title-font;
    src: url(berlin-regular.TTF);
}

body{
    padding:0px;
    margin :0px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    overflow-wrap:break-word ;
}

a{
  text-decoration: none;
  color: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-image: url("$website_url/../../../images/patient-doctor.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;  /* key */
    justify-content: space-between; /* spreads them */
    align-items: stretch; /* ensures same height */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.advert-div {
    width: 60%;  /* adjust as needed */
    height: 100%;
    text-align: center;
    overflow: auto;
    background-color: #2894d288;
    color: #fff;
    overflow: auto;
}

.advert-div .inner-div{
    width: 80%;
    text-align: center;
    margin: auto;
}

.advert-div .inner-div .text-div{
    width: 100%;
    line-height: 30px;

}
.advert-div .inner-div .text-div .doctor-prompt{
    display: none;
}


.right-div {
    width: 40%;
    height: 100%;
    text-align: left;
    overflow: auto;
    background-color: #2894d288;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.25);
}


.right-div h2{
    color: #4482F5;
    margin-left: 2%;
}
.right-div .logo-div{
    width: 20%;
}
.right-div .logo-div img{
    width: 100%;
    border-bottom-right-radius: 20px;
}

/* .right-div{
    width: 40%;
    height: 100%;
    text-align: left;
    overflow: auto;
    vertical-align: top;
    display: inline-block;
    background-color:#2894d288;
    backdrop-filter: blur(10px);
    position: absolute;
    right: 0px;
} */
 
.right-div .div-in{
    padding: 20px;
}

.right-div .div-in .fill-form-div {
    width: 100%;
    height: auto;
    margin: 0 auto;        /* centers horizontally */
    position: relative;
    top: 50%;
   
}


.right-div .div-in .fill-form-div  .patient-btn{
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 1s;
    margin-top: 2%;
    font-size: 20px;

}

.right-div .div-in .fill-form-div .patient-btn:hover{
    background-color: #4482F5;
}

.right-div .div-in .fill-form-div .login-div{
    display: none;
}
.right-div .div-in .fill-form-div #next_1{
    display: block;
}

.right-div .div-in .fill-form-div .input-div{
    width: 100%;
}

.right-div .div-in .fill-form-div .input-div h2{
    font-size: 30px;
    color: #ffffff;
}
.right-div .div-in .fill-form-div .input-div p{
    color: #ffffff;
}
.right-div .div-in .fill-form-div .input-div p span{
    font-style: oblique;
}
.right-div .div-in .fill-form-div .input-div .input-field{
    padding: 15px 15px;
    touch-action: manipulation;
    border-color: transparent;
    border: none !important;
    border-radius: 25px;
    color: #000;
    background-color: #E6E6E6;
    height: auto;
    width: 90%;
    outline-color: #002569;  
    transition: 0.5s;
    overflow: hidden;
    outline: none;
}

.right-div .div-in .fill-form-div .input-div .input-field:focus{
    box-shadow: #002569 0px 0px 5px 5px;
}
.right-div .div-in .fill-form-div .input-div label{
    text-align: left;
    float: left;
    margin-left: 6%;
    color: #ffffff;
}
.right-div .div-in .fill-form-div .input-div .btn {
    padding: 15px 12.5%;
    border-radius: 25px;
    background: linear-gradient(90deg, #0052D4 0%, #4364F7 50%, #6FB1FC 100%);
    border:#fff 1px solid ;
    cursor: pointer;
    margin-top: 2%;
    color: #ffffff;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-bottom: 4%;
    transition: background 0.4s ease-in-out, transform 0.3s ease;
}

.right-div .div-in .fill-form-div .input-div .btn:hover {
    background: transparent;
}

.right-div .div-in .fill-form-div .input-div .btn i{
   margin-left: 20%;
}

.right-div .div-in .fill-form-div .input-div .reset{
 float: right;
 margin-right: 40px;
 cursor: pointer;
 color: #ffffff;
 transition: 0.5s;
}

.right-div .div-in .fill-form-div .input-div .reset:hover{
    color:#002569; 
}

.right-div .div-in .fill-form-div .input-div .under-div {
   width: 100%;
    margin-top: 40px;
    float: left;
}

.right-div .div-in .fill-form-div .input-div .under-div{
    color:#ffffff;
    font-size: 15px;
    cursor: pointer;
}
.right-div .div-in .fill-form-div .input-div .under-div:hover{
    color:#002569; 
}

.right-div .div-in .fill-form-div .notification-div{
    background: #3686d14d;
    padding: 10px;
    line-height: 15px;
    border: #fff 1px solid;
    margin: 80px 0px;
    font-size: 15px;
    color: #ffffff;
}

.right-div .div-in .fill-form-div .alert-div{
    margin: 10px 0px;
    font-size: 15px;
    color: #ffffff;
}
.right-div .div-in .fill-form-div .alert-div span:hover{
  color: #4482F5;
  cursor: pointer;
}

.right-div .div-in .fill-form-div .notification-div .in{
    color: #52eee9;
    cursor: pointer;
    transition: 0.5s;
}
.right-div .div-in .fill-form-div .notification-div .in:hover{
    color: #0052D4;
}

.hr {
    border: 1px solid #fff;
    width: 100%;
    margin: 20px 0;
}

.right-div .div-in .reset-pass-form{
    overflow: auto;
    display: none;
}


 
.right-div .div-in{
    padding: 20px;
}



.staff-section{
    background-color: #03A7D3;
    height: 100%;
    width: 80%;
}

.staff-section .inner-div{
    background-color: #03A7D3;
    height: 100%;
    width: 80%;
}

.reset-complete-div{
    display: none;
}

@media(max-width:1120px){
    .right-div{
        width: 100%;
    }
    .right-div .div-in .fill-form-div .input-div .btn{
        padding: 15px 25px;
        width: auto;
    }
    .right-div .div-in .fill-form-div .input-div .btn i{
        margin-left:2px ;
    }
}

.alert-success{
    padding: 15px;
    border:rgba(46,204,113,.4) 1px solid;
    background:rgba(46,204,113,.05);
}
.alert-failed{
    border:rgba(231,76,60,.4) 1px solid;
    background:rgba(231,76,60,.05);
}

.ajax-loader{
    margin: 50px auto;
    width: 80%;
    max-width: 300px;
}
.ajax-loader img{
    width: 100%;
}

.loading{
    width: 100%;
    background-color: transparent;
    display: none;
    min-height: 1px;
}

.loading .length{
    width: 90%;
    margin: 3% 5%;
    background-color: #03A7D3;
    height: 50px;
    border-radius: 15px;
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: .7;
}

.loading .last{ 
    width: 30%;
}

@keyframes skeleton-loading {
    0% {
        background-color: #0066D5;
    }
    100% {
        background-color: #4482F5;
    }
}

.success-div, #not-success-div, #warning-div{
    width:300px;
    height:50px;
    padding-top:10px;
    background:rgba(0,202,101,1);
    position:fixed;
    right:0px;
    top:60px;
    z-index:1000;
    font-size:16px;
    color:#FFF;
    cursor:pointer;
    display:none;
}
  
.success-div div, #not-success-div div, #warning-div div{
    text-align:center;
    width:60px;
    height:50px;
    background:#ecf0f1;
    color:rgba(0,202,101,.7);
    font-size:40px;
    float:left;
    padding-top:10px;
    margin-right:5px;
    margin-top:-10px;
}
  
.success-div span, #not-success-div span, #warning-div span{
    font-size:13px;
}
#not-success-div{
    font-size:14px;
    background: rgba(255,0,0,1);
}
#not-success-div div{
    color:rgba(255,0,0,1);
}
#not-success-div span{
    font-size:11px;
}
#warning-div{
    background: rgba(255,128,0,1);
}
#warning-div div{
    color:rgba(255,128,0,1);
}

.pswd_info{
    padding: 5px;
    color: #E6E6E6;
}
#pswd_info span{
    color: #E6E6E6;
}

.alert-success{
    padding: 15px;
    border:rgba(46,204,113,.4) 1px solid;
    background:rgba(46,204,113,.05);
}
.alert-failed{
    border:rgba(231,76,60,.4) 1px solid;
    background:rgba(231,76,60,.05);
}

.ajax-loader{
    margin: 50px auto;
    width: 80%;
    max-width: 300px;
}
.ajax-loader img{
    width: 100%;
}

.btn{
    padding: 15px 12.5%;
    border-radius: 25px;
    background-color: #03A7D3;
    border:#03A7D3 1px solid ;
    cursor: pointer;
    float: left;
    margin-top: 2%;
    color: #ffffff;
    font-size: 15px;
    height: auto;
    float: left;
    display: inline-flex;
    vertical-align: top;
    width: 40%;
    margin-bottom: 4%;
}
.btn:hover{
    background-color: transparent;
    border: #03A7D3 1px solid;
    transition: 0.5s;
}
.btn i{
   margin-left: 20%;
}

