
@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: body-font;
    src: url(SEGOEUI.TTF);
}
@font-face {
    font-family:title-font;
    src: url(berlin-regular.TTF);
}

a{
  text-decoration: none;
  color: inherit;
}


body{
  padding:0px;
  margin :0px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d5d6d7;
  transition: 1s;

}




   .success-div, #not-success-div, #warning-div{
    width:300px;
    height:50px;
    padding-top:10px;
    background:rgba(0,202,101,1);
    position:fixed;
    right:0px;
    top:100px;
    z-index:1000;
    font-size:16px;
    color:#FFF;
    cursor:pointer;
    display:none;
  }
  
  .success-div div, #not-success-div div, #warning-div div{
    text-align:center;
    width:60px;
    height:50px;
    background:#ecf0f1;
    color:rgba(0,202,101,.7);
    font-size:40px;
    float:left;
    padding-top:10px;
    margin-right:5px;
    margin-top:-10px;
  }
  
  .success-div span, #not-success-div span, #warning-div span{
    font-size:13px;
  }
  #not-success-div{
    font-size:14px;
    background: rgba(255,0,0,1);
  }
  #not-success-div div{
    color:rgba(255,0,0,1);
  }
  #not-success-div span{
    font-size:11px;
  }
  #warning-div{
    background: rgba(255,128,0,1);
  }
  #warning-div div{
    color:rgba(255,128,0,1);
  }
  
  
  
  
hr{
  color: #ffffff;
}

  


.alert-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px;
  border-radius: 4px;
  width: 300px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
}

.close-btn {
  color: #721c24;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}





header{
 
  height: 100%;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
overflow-wrap:break-word ;

 
  
}
header .logo-div{
  width:15%;
  float: left;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #2894d2;
}

header .logo-div .text-div{
  width: 100%;
 
  
}
header .logo-div .text-div h2{
 color: #ffffff;
  font-style: italic;
 text-align: center;
}
header .logo-div .list-div{
  
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow-wrap:break-word ;
  margin-top: 20%;
}

/* /////////////////////////// */
header .phone-div{
  display: none;
}
.phone-div{
  display: none;
}

/* /////////////// */
 
header .logo-div .list-div ul {
  font-size: larger;
  line-height: 50px;
  text-decoration: none;

}
header .logo-div .list-div ul li {
  /* margin-right: auto; */
  list-style: none;
}
header .logo-div .list-div ul li p{
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap:break-word;
  padding: 5px;
  display: inline-block;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  
}

/* Hover effect */
header .logo-div .list-div ul li p:hover {
  color: #03A7D3;
  background-color: #ecf0f1;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

/* Active state (after click) */
header .logo-div .list-div ul li p.active {
  color: #03A7D3;
  background-color: #ecf0f1;
  transition: background-color 0.5s ease, color 0.5s ease;
}




/* header  .header-inner-div{
  width:85%;
  height: 80px;
  background: linear-gradient(to left, #0b6623, #2e8b57, #66cdaa, #98fb98);
  float: right;
  align-items: center;
  color: #ffffff;

 
} */

header  .dash-header{
  width: 85%;
  min-height: 80px;
  vertical-align: top;

  overflow: hidden;
  text-align: center;
  float: right;
  /* background-color: pink; */
  margin-top: 1%;
  
}

header .dash-header .header-inner-div{
  width: 98%;
  height: auto;
  background: #fff;
  margin: auto;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  height: 80px;
  border-radius: 5px;

 
}

header .dash-header .search-div{
  width: 50%;
  vertical-align: top;
  display: inline-block; 
  margin: 1.5% 0px 0px 3% ;
 
 background: transparent;
/* float: left; */
   
  
}
header  .dash-header .search-div .search-box{
  background: #ecf0f1;
  width: 80%;
  border: 0.4px solid ;
  border-color: #2894d2;

  border-radius: 5px;
  text-align: center;

  color: #2894d2;


  
}
header  .dash-header .search-div .search-box input{
  /* vertical-align: top;
  display: inline-block; */
  border: none;
  height: 25%; 
  padding: 10px 0px 10px 5px;
  width: 85%;
  background-color: transparent;
  outline: 1px !important;
  font-size: 15px;
  margin-top: 1%;
  color: #2894d2;
  /* background-color: yellow; */
}

header .dash-header .search-div .search-box i{
  color: #2894d2;
  cursor: pointer;
  width: 15%;
  padding:10px;

 
}

header  .dash-header .switch-div{
  display: inline-block; 
  vertical-align: top;
  width: 5%;
  height: 20px;
 /* float: left; */
   /* background-color: #0b6623;  */
  margin-top: 2.5%;
  border-radius:10px ;
   /* background-color: #1E272E;  */
  background: #fff;
  border:1px solid #1E272E;

  cursor: pointer;
}
header  .dash-header .switch-div .circle{
  width: 35%;
  height: 90%;
  background-color: #0b6623;
  border-radius: 100%;
  margin: 2%;
 
  cursor: pointer;
 
}
header  .dash-header .right-nav-div{
  display: none;
  font-size: 30px;
  color: #ffffff;
  float: right;
  margin: 3%;
  cursor: pointer;

}

header  .dash-header .personal-div{
  background-color: transparent;
   /* background-color: #4482F5;  */
  width: 40%;
  height: 70px;
  float: right;
   margin-left: 1%; 
  margin: 0.5%;


}
header  .dash-header .personal-div .inner-div{
  /* background-color: yellow; */
  margin: 1%;
  width: 98%;
  height: 90%;
  text-align: center;
  color: #2894d2;
  /* color: #3c4141; */
  
}
header  .dash-header .personal-div .inner-div .lang-div{
  width: 17%;
  height: 90%;
  margin:1%;
  /* background-color: #3f4b54; */
  vertical-align: top;
  display: inline-block;
  text-align: center;
  cursor: pointer;



  /* position: absolute; */

}
header  .dash-header .personal-div .inner-div .lang-div:hover i{
  color: #4482F5;
  /* background-color: #4482F5; */
  transition: 0.5s;

}
header  .dash-header .personal-div .inner-div .lang-div i{
  font-size:25px;
  vertical-align: top;
  display: inline-block;
  margin-top: 15%;
 
     /* color: #fff; */
  
}

header  .dash-header .personal-div .inner-div .profile{
  width: 17%;
  height: 90%;
  object-fit: cover;



}
header  .dash-header .personal-div .inner-div .profile img{
  /* width: 50px; */
  /* border-radius: 15px; */
  height: 100%;
  width: 100%;
  /* height: 95%; */

} 


.fill-form-div{
  width: 100%;
  
}

.fill-form-div .login-div{
  display: none;
}

.fill-form-div #next_1{
   display: block;
}


header  .header-inner-div .text-div{
  vertical-align: center;
  display: inline-block;
  width:70%;
  justify-content: center;
  text-align: center;
  height: auto;
  
  margin:0% 4.5%;
}
header   .header-inner-div .text-div h1{
  justify-items: center;
}
header  .header-inner-div .mobile_btn{
  display: none;
}
header  .header-inner-div .header-btn{
  margin-top: 1%;
  background-color: #03A7D3;
  border:#03A7D3 1px solid;
  padding: 20px 20px;
  border-radius: 15px;
  cursor: pointer;
  vertical-align: center;
  margin-right: 5%;
  float: right;
  color: #ffffff;
  font-size: 15px;

}

header  .header-inner-div .header-btn:hover{
  background-color: rgb(227, 57, 57) ;
  border: rgb(227, 57, 57) 1px solid;
  transition: 0.5s;
}


.input-section {
  width: 85%;
  height: calc(100% - 80px);
  background: url(../all-images/images/cool.png) no-repeat center;
  background-size: cover;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.input-section p {
  display: inline-block;
  width: 95%;
  min-height: 1px;
  margin-left: 2.5%;
}

.input-section h3 {
  display: inline-block;
  width: 95%;
  min-height: 1px;
  margin-left: 2.5%;
  
}

.input-section .inner-div {
  display: inline-block;
  margin-top: 1%;
  width: 95%;
  min-height: 420px;
  margin-left: 2.5%;
  backdrop-filter: blur(10px);
  background-color: rgba(228, 228, 228, 0.0); /* Keep it transparent */
  border-radius: 10px;
  max-height: 400px; 
  overflow-y: auto;
}

.input-section .inner-div table {
  color: #ffffff;
  width: 100%;  
  border-collapse: collapse;  
}

.input-section .inner-div table th, 
.input-section .inner-div table td {
  padding: 5px;
  text-align: left;
  color: #ffffff;
  border: 1px solid #ffffff; /* Define borders consistently */
}

.input-section .inner-div table th {
  font-weight: bold;
  background-color: #0b6623; /* Green for header */
  position: sticky;
  top: 0;
  z-index: 2;
  color: #ffffff;
}

.input-section .inner-div table td {
  background-color: #2e8b57; /* Light background for table cells */
}

.scroll-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}



.input-section .inner-div .user-field{
  color: #666;
 color: #ffffff;
  height: auto;
  width: 90%;
  margin: 0% 4%;
  border-radius: 5px;
  padding: 10px 0px;
  opacity: 1;
}

.input-section .inner-div .user-field .btn{
  
  border-radius: 25px;
  background-color: #03A7D3;
  border: #03A7D3 1px solid;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 6%;
  color: #ffffff;
  font-size: 15px;
  height: auto;
  width: 41%;
  padding: 15px 15px;
}
.input-section .inner-div .user-field .btn:hover{
  background-color: transparent;
  border: #03A7D3 1px solid;
  transition: 0.5s;

}
.input-section .inner-div .user-field .input-field{
  width: 90%;
  margin: 2% 3.5%;
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  outline: none !important;
  
}
.input-section .inner-div .user-field .label-field{
 
  margin: 2% 3.5%;
  padding: 15px 0px;
  
}

.input-section .inner-div .user-field .input-field:focus{
  box-shadow: #03A7D3 0px 0px 3px 3px;
  
}
.input-section .inner-div .user-field .input-field[name=input]::placeholder{
  margin-left: 5%;
  

}

.input-section .inner-div .picture-box{
 width: 70%;
 height: 350px;
  margin: 3.4% 15%;
object-fit: cover;


}
.input-section .inner-div .picture-box:hover{
 cursor: pointer;
 
 
 }
.input-section .inner-div .picture-box img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
}
.input-section .inner-div .picture-btn{
  padding: 20px 20px;
  margin: 2% 15%;
  width: 70%;
  font-size: 15px;
  background-color: #03A7D3;
  border: #03A7D3 1px solid;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
 
}
.input-section .inner-div .picture-btn:hover{
  background-color: transparent;
  border: #03A7D3 1px solid;
  transition: 0.5s;
  
}
header .header-inner-div ul{
  display: none;
  width: 100%;
  height:100px;
}


